<div style="display:flex; width: min(1200px, 90%); margin: auto;">
  <div style="width: 50%;">
    <img 
      style="max-width: 100%;" 
      src="//cdn.shopify.com/s/files/1/1413/8998/products/WYND-Plus_white-3_3000x.jpg?v=1630697210"
    />
<!--     <img src="{{ product.featured_image | img_url: '600x600'}}"/> -->
  </div>
  <div style="width: 50%;">
    <h1>{{ product.title }}</h1>
    <p>⭐⭐⭐⭐⭐</p>
    <p>{{ product.description }}</p>
    <div>
      <strike>${{ product.compare_at_price }}</strike>
      <span>${{ product.price }}</span>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Product",
    "settings": []
  }
{% endschema %}